/*******************
     Base styles
*******************/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-weight: 300;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  line-height: 1.4;
}

body {
  /* margin: 0; */
}

li {
  list-style-type: none;
}

/* a {
  text-decoration: none;
  color: black;
} */

/*******************
*******************/

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.loginAndSignup {
  display: flex;
  gap: 3em;
}

.ratings-form {
  margin-bottom: 0.5em;
}

.credit-card-input {
  margin: 4em 0 0.5em 0;
}

.purchase-button {
  font-size: 3em;
  display: block;
  color: lightseagreen;
}
